@import '../../_colours';

.fixedHeader {
  position: fixed;
  top: 0px;
  font-size: 0.1 rem;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-between;
  display: flex;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  border-bottom: 0px solid $button-active-text-color;
  color: #fff;
}

.headerLink {
  text-decoration: none;
  color: #fff;
  padding: 0px 20px;
}
